4. Tuples in Python

- Tuples are immutable lists and cannot be changed in any way once it is created.

- Tuples are defined in the same way as lists.

- They are enclosed within parenthesis and not within square braces.

- Tuples are ordered, indexed collections of data.

- Similar to string indices, the first value in the tuple will have the index [0], the second value [1]

- Negative indices are counted from the end of the tuple, just like lists.

- Tuple also has the same structure where commas separate the values.

- Tuples can store duplicate values.

- Tuples allow you to store several data items including string, integer, float in one variable.

In [1]:
# Take a tuple
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A':3, 'B':8},(0,1))
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1))

In [2]:
print(type(tuple_1))
print(len(tuple_1))

<class 'tuple'>
11

In [3]:
# Printing the each value in a tuple using both positive and negative indexing
tuple_1 = ('Hello','Python',3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A':3, 'B':8},{0,1})
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])

Hello
Python
3.14
{0, 1}
{'A': 3, 'B': 8}
{1, 2, 3}

In [4]:
# Printing the type of each value in the tuple
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A':3, 'B':8},(0,1))
print(type(tuple_1[0]))
print(type(tuple_1[2]))
print(type(tuple_1[4]))
print(type(tuple_1[6]))
print(type(tuple_1[7]))
print(type(tuple_1[8]))
print(type(tuple_1[9]))
print(type(tuple_1[10]))

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>

### Concatenation of tuples

- To concatenate tuples, + sign is used

In [5]:
tuple_2 = tuple_1 + ('Hello World!', 2022)
tuple_2

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1),
 'Hello World!',
 2022)

### Repetition of a tuple

In [6]:
rep_tup = (1,2,3,4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

### Membership

In [7]:
rep_tup = (1,2,3,4)
print(2 in rep_tup)
print(2 not in rep_tup)
print(5 in rep_tup)
print(5 not in rep_tup)

True
False
False
True

### Iteration

In [8]:
rep_tup = (1,2,3,4)
for i in rep_tup:
    print(i)

1
2
3
4

### cmp() function

It is to compare two tuples and returs True or False

In [9]:
def cmp(t1, t2):
    return bool(t1 > t2) - bool(t1 < t2)
def cmp(t3, t4):
    return bool(t3 > t4) - bool(t3 < t4)
def cmp(t5, t6):
    return bool(t5 > t6) - bool(t5 < t6)
t1 = (1,3,5)       # Here t1 is lower than t2, since the output is -1
t2 = (2,4,6)

t3 = (5,)          # Here t3 is higher than t4 since the output is 1
t4 = (4,)

t5 = (3.14,)       # Here t5 is equal to t6 since the output is 0 
t6 = (3.14,)

print(cmp(t1, t2))
print(cmp(t3, t4))
print(cmp(t5, t6))

-1
1
0

### min() function

In [10]:
rep_tup = (1,2,3,4)
min(rep_tup)

1

### max() function

In [11]:
rep_tup = (1,2,3,4)
max(rep_tup)

4

### tup(seq) function
It converts a specific sequence to a tuple

In [12]:
seq = 'ATGCGTATTGCCAT'
tuple(seq)

('A', 'T', 'G', 'C', 'G', 'T', 'A', 'T', 'T', 'G', 'C', 'C', 'A', 'T')

### Slicing

To obtain a new tuple from the current tuple, the slicing method is used.

In [15]:
tuple_1 = ('Hello','Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A':3, 'B':8},(0,1))
tuple_1[2:7]

(3.14, 1.618, True, False, 32)

In [16]:
# Obtaining tuple using negative indexing
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A':3,'B':8}, (0,1))
tuple_1[-4:-1]

([1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8})

### len() function
To obtain how many elements there are in the tuple, use len() function

In [17]:
tuple_1 = ('Hello', 'Python', 3.14, 1.618, True, False, 32, [1,2,3], {1,2,3}, {'A': 3, 'B': 8}, (0, 1))
len(tuple_1)

11

### Sorting

In [18]:
# Tuples can be sorted and save as a new tuple.

tuple_3 = (0,9,7,4,6,2,9,8,3,1)
sorted_tuple_3 = sorted(tuple_3)
sorted_tuple_3

[0, 1, 2, 3, 4, 6, 7, 8, 9, 9]

### Nested tuple

In Python, a tuple written inside another tuple is know as a nested tuple.

In [19]:
# Take a nested tuple
nested_tuple = ('biotechnology',(0,5),('fermentation','ethanol'),(3.14,'pi',(1.618,'golden ratio')))
nested_tuple

('biotechnology',
 (0, 5),
 ('fermentation', 'ethanol'),
 (3.14, 'pi', (1.618, 'golden ratio')))

In [20]:
# Now printing the each element of the nested tuple
print('Item 0 of nested tuple is', nested_tuple[0])
print('Item 1 of nested tuple is', nested_tuple[1])
print('Item 2 of nested tuple is', nested_tuple[2])
print('Item 3 of nested tuple is', nested_tuple[3])

Item 0 of nested tuple is biotechnology
Item 1 of nested tuple is (0, 5)
Item 2 of nested tuple is ('fermentation', 'ethanol')
Item 3 of nested tuple is (3.14, 'pi', (1.618, 'golden ratio'))

In [21]:
# Using second index to access other tuples in the nested tuple
print('Item 1, 0 of the nested tuple is',nested_tuple[1][0])
print('Item 1, 1 of the nested tuple is',nested_tuple[1][1])
print('Item 2, 0 of the nested tuple is',nested_tuple[2][0])
print('Item 2, 1 of the nested tuple is',nested_tuple[2][1])
print('Item 3, 0 of the nested tuple is',nested_tuple[3][0])
print('Item 3, 1 of the nested tuple is',nested_tuple[3][1])
print('Item 3, 2 of the nested tuple is',nested_tuple[3][2])

# Accessing to the items in the second nested tuples using a third index
print('item 3,2,0 of the nested tuple is', nested_tuple[3][2][0])
print('Item 3,2,1 of the nested tuple is', nested_tuple[3][2][1])

Item 1, 0 of the nested tuple is 0
Item 1, 1 of the nested tuple is 5
Item 2, 0 of the nested tuple is fermentation
Item 2, 1 of the nested tuple is ethanol
Item 3, 0 of the nested tuple is 3.14
Item 3, 1 of the nested tuple is pi
Item 3, 2 of the nested tuple is (1.618, 'golden ratio')
item 3,2,0 of the nested tuple is 1.618
Item 3,2,1 of the nested tuple is golden ratio

### Tuples are immutable

In [24]:
# Take a tuple
tuple_4 = (1,3,5,7,8)
tuple_4[0] = 9
print(tuple_4)

# The output shows the tuple is immutable

TypeError: 'tuple' object does not support item assignment

### Fixed this

In [26]:
# Take a tuple
tuple_4 = (1,3,5,7,8)
tuple_4[0]

# The output shows the tuple is mutable

1

In [27]:
print(tuple_4)

(1, 3, 5, 7, 8)

### count() method
This method returns the number of time an item occurs in a tuple.

In [30]:
tuple_5 = (1,1,3,3,5,5,5,5,6,6,7,8,9)
tuple_5.count(5)

4

### index() method

It returns the index of the first occurence of the specified value in a tuple

In [31]:
tuple_5 = (1,1,3,3,5,5,5,5,6,6,7,8,9)
print(tuple_5.index(5))
print(tuple_5.index(1))
print(tuple_5.index(9))

4
0
12

### One element tuple

If a tuple includes only one element, you should put a comma after the element. Otherwise, it is not considered
as a tuple.

In [32]:
tuple_6 = (0)
print(tuple_6)
print(type(tuple_6))

# Here, you see that the output is an integer

0
<class 'int'>

In [33]:
tuple_7 = (0,)
print(tuple_7)
print(type(tuple_7))

# You see that the output is a tuple

(0,)
<class 'tuple'>